### Постановка задачи

**Задача**

Требуется, на основании имеющихся данных о клиентах банка, построить модель, используя обучающий датасет, для прогнозирования невыполнения долговых обязательств по текущему кредиту. Выполнить прогноз для примеров из тестового датасета.

**Наименование файлов с данными**

course_project_train.csv - обучающий датасет<br>
course_project_test.csv - тестовый датасет

**Целевая переменная**

Credit Default - факт невыполнения кредитных обязательств

**Метрика качества**

F1-score (sklearn.metrics.f1_score)

**Требования к решению**

*Целевая метрика*
* F1 > 0.5
* Метрика оценивается по качеству прогноза для главного класса (1 - просрочка по кредиту)

*Решение должно содержать*
1. Тетрадка Jupyter Notebook с кодом Вашего решения, названная по образцу {ФИО}\_solution.ipynb, пример SShirkin\_solution.ipynb
2. Файл CSV с прогнозами целевой переменной для тестового датасета, названный по образцу {ФИО}\_predictions.csv, пример SShirkin\_predictions.csv

*Рекомендации для файла с кодом (ipynb)*
1. Файл должен содержать заголовки и комментарии (markdown)
2. Повторяющиеся операции лучше оформлять в виде функций
3. Не делать вывод большого количества строк таблиц (5-10 достаточно)
4. По возможности добавлять графики, описывающие данные (около 3-5)
5. Добавлять только лучшую модель, то есть не включать в код все варианты решения проекта
6. Скрипт проекта должен отрабатывать от начала и до конца (от загрузки данных до выгрузки предсказаний)
7. Весь проект должен быть в одном скрипте (файл ipynb).
8. Допускается применение библиотек Python и моделей машинного обучения,
которые были в данном курсе.

**Подключение библиотек и скриптов**

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
import warnings
warnings.filterwarnings('ignore')

### Обзор данных

**Описание датасета**

* **Home Ownership** - домовладение
* **Annual Income** - годовой доход
* **Years in current job** - количество лет на текущем месте работы
* **Tax Liens** - налоговые обременения
* **Number of Open Accounts** - количество открытых счетов
* **Years of Credit History** - количество лет кредитной истории
* **Maximum Open Credit** - наибольший открытый кредит
* **Number of Credit Problems** - количество проблем с кредитом
* **Months since last delinquent** - количество месяцев с последней просрочки платежа
* **Bankruptcies** - банкротства
* **Purpose** - цель кредита
* **Term** - срок кредита
* **Current Loan Amount** - текущая сумма кредита
* **Current Credit Balance** - текущий кредитный баланс
* **Monthly Debt** - ежемесячный долг
* **Credit Default** - факт невыполнения кредитных обязательств (0 - погашен вовремя, 1 - просрочка)

**Пути к директориям и файлам**

In [3]:
TRAIN_DATASET_PATH = 'data/course_project_train.csv'
TEST_DATASET_PATH = 'data/course_project_test.csv'

**Загрузка данных**

In [6]:
df_train = pd.read_csv(TRAIN_DATASET_PATH)
df_train.head()

  Home Ownership  Annual Income  ... Credit Score  Credit Default
0       Own Home       482087.0  ...        749.0               0
1       Own Home      1025487.0  ...        737.0               1
2  Home Mortgage       751412.0  ...        742.0               0
3       Own Home       805068.0  ...        694.0               0
4           Rent       776264.0  ...        719.0               0

[5 rows x 17 columns]

In [7]:
df_train.shape

(7500, 17)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Home Ownership                7500 non-null   object
 1   Annual Income                 5943 non-null   float64
 2   Years in current job          7129 non-null   object
 3   Tax Liens                     7500 non-null   float64
 4   Number of Open Accounts       7500 non-null   float64
 5   Years of Credit History       7500 non-null   float64
 6   Maximum Open Credit           7500 non-null   float64
 7   Number of Credit Problems     7500 non-null   float64
 8   Months since last delinquent  3419 non-null   float64
 9   Bankruptcies                  7486 non-null   float64
 10  Purpose                       7500 non-null   object
 11  Term                          7500 non-null   object
 12  Current Loan Amount           7500 non-null   float64
 13  Current Credit Balance        7500 non-null   float64
 14  Monthly Debt                  7500 non-null   float64
 15  Credit Score                  5943 non-null   float64
 16  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [12]:
df_train.describe().T

                               count          mean  ...         75%           max
Annual Income                 5943.0  1.366392e+06  ...  1640137.00  1.014934e+07
Tax Liens                     7500.0  3.013333e-02  ...        0.00  7.000000e+00
Number of Open Accounts       7500.0  1.113093e+01  ...       14.00  4.300000e+01
Years of Credit History       7500.0  1.831747e+01  ...       21.80  5.770000e+01
Maximum Open Credit           7500.0  9.451537e+05  ...   793501.50  1.304726e+09
Number of Credit Problems     7500.0  1.700000e-01  ...        0.00  7.000000e+00
Months since last delinquent  3419.0  3.469260e+01  ...       50.00  1.180000e+02
Bankruptcies                  7486.0  1.171520e-01  ...        0.00  4.000000e+00
Current Loan Amount           7500.0  1.187318e+07  ...   519882.00  1.000000e+08
Current Credit Balance        7500.0  2.898332e+05  ...   360406.25  6.506797e+06
Monthly Debt                  7500.0  1.831445e+04  ...    23818.00  1.366790e+05
Credit Score                  5943.0  1.151087e+03  ...      743.00  7.510000e+03
Credit Default                7500.0  2.817333e-01  ...        1.00  1.000000e+00

[13 rows x 8 columns]